*{margin:0;padding:0;list-style:none;box-sizing: border-box;}
.c1{
	display:flex;
	align-items:center;
	width:1400px;
	height:67px;
	margin:0px auto;
	justify-content:space-between;
	margin-bottom:5px;
}
.a15{
	background:yellow;
}
.a16{
	color:#000;
	font-weight:bold;
}
.c1>.c2{
	display:flex;
	align-items:center;
	height:100%;
}
.c1>.c2>img{
	width:131px;
	height:39px;
	cursor:pointer;
}

.c2 .sti{
	display:flex;
	margin-left:20px;
	height:100%;
}
.c2 .sti li{
	line-height:72px;
	font-size:20px;
	padding:0px 17px;
	height:100%;
}
.c3>input{
	border:0px;
	outline:none;
	height:35px;
	width:300px;
	background-color:#e8e8e8;
	font-size:13px;
	padding:0px 5px;
	margin-top:8px;
}
.c3>a,.c3>span{
	padding-left:10px;
}

.c5{
	border-top:1px solid #eee;
	margin-top:-5px;
}

.c6{
	width:1400px;
	height:54px;
	margin:0px auto;
	line-height:54px;
}
.c6>div{
	margin-left:204px;
}
.c6 a+a{
	margin-left:34px;
}
.c6 a{
	font-size:15px;
}

.d1{
	height:220px;
	background:#333;
}
.d2{
	width:1400px;
	height:191px;
	margin:0px auto;
	display:flex;
	color:#fff;
}
.d3,.d4,.d5{
	width:32%;
	
}
.d3 p,.d4 p,.d5 p{
	margin-top:40px;
}
.d3>ul,.d4>ul,.d5>ul{
	
	display:flex;
	list-style:none;
}
.d3>ul{
	margin-top:30px;
}
.d3>ul>li{
	cursor:pointer;
}

.d3>ul>li>.a1{
	margin-left:60px;
}
.d3>ul>li>.a2{
	margin-left:53px;
}
.d3>ul>li>h5{
	color:#e8e8e8;
}
a{
	color:#ccc;
	text-decoration:none;
}
.d4>ul>li+li,.d5>ul>li+li{
	margin-left:30px;
}
.d4 a:hover,.d5 a:hover,.a3 a:hover{
	color:yellow;
}
.a3{
	height:182px;
	padding: 22px 0 99px;
    background: #1f1f1f;
    text-align: center;
    color: grey;
}
.a3 p{
	font-size:12px;
}
.a3 a{
	color: grey;
}
.a3 p+p{
	margin-top:5px;
}
.e23{
	background:yellow;
	font-weight:bold;
	color:#000;
}

#e1{
	width:1400px;
	margin:0px auto;
	margin-top:50px;
}
#e1 ul{
	display:flex;
	width:100%;
}
#e1 ul:last-child{
	margin-top:22px;
}
#e1 .e2>li:first-child,#e1 .e3>li:first-child{
	  background: #ffe443;
    font-weight: 700;
		width: 56px;
    height: 28px;
    border-radius: 14px;
		text-align:center;
		line-height:28px;
		color:#333;
}
#e1 .e2>li:last-child{
	margin-right:0px;
}
#e1 .e2>li+li{
	  width: 28px;
    height: 28px;
    margin-right: 14px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    cursor: pointer;
		margin-left:10px;
		color:#ccc;
}
#e1 .e3>li+li{
    height: 28px;
    margin-right: 14px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    cursor: pointer;
		margin-left:13px;
		color:#ccc;
}
.e4{
	height:572px;
	display:flex;
	margin-top:50px;
	flex-wrap:wrap;
}
.e4>div{
	width:189px;
	height:246px;
	text-align:center;
	margin-right:50px;
}
.e4>div:nth-child(6),.e4>div:nth-child(12){
	margin-right:0px;
}
.e4>div>img{
	width:189px;
	height:189px;
	margin-bottom:5px;
}
.e4>div>span{
	cursor:pointer;
}
.e4>div>p{
	font-size:12px;
	color:#ccc;
}
.e5{
	display:flex;
	flex-wrap:wrap;
}
.e5>div{
	width:182px;
	height:38px;
	display:flex;
	align-items:center;
	margin-right:50px;
	margin-top:40px;
}
.e5>div>img{
	width:38px;
	height:38px;
	border-radius:50%;
}
.e5>div>span{
	color:#ccc;
	margin-left:10px;
}
.e6{
	display:flex;
	color:#ccc;
	width:270px;
	margin:50px auto;
}
.e6 ul li,.e6 div{
	width:42px;
	height:42px;
	text-align:center;
	line-height:42px;
}
.e6 ul li:first-child{
	background-color:yellow;
}

